*{
  padding:0;
  margin:0;
}

/* This is a single line comment */

h1 {
  text-align: center;
  margin: 0;
}

h2{
  text-align: center;
}

#firstID{
  text-align: center;
  font-weight: 600;
  font-size: larger;
}

.firstClass{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

